*{
    margin: 0;
    padding: 0;
}

#player{
    margin: auto;
    max-width: 30vw;
}

#nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#nav>div{
    width: 5rem;
    height: 5rem;
}

img{
    width: 100%;
}